.tituloCampeones{
    font-family: 'Noto Serif', serif;
    padding-inline: 20px;  
    font-size: 2rem;
}
.subtCampeones{
    font-family: 'Noto Serif', serif;
    padding-inline: 20px;  
    font-size: 1.5rem;
}
