footer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "titulo titulo"
    "img2 img1";
    }

.footerTitulo{
    grid-area: titulo;
    font-family: 'Noto Serif', serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    
}
.instaico{ 
    grid-area: img2;
    text-align: end;
    margin: 5px;
}
.faceico{
    grid-area: img1;
    margin: 5px;
}
.instaico a{
    color: black;    
}
.wappico a{
    color: black;
}
