///***CAJAS NUTRIENTES***////

.cajaNutrientes{
    @include tamano (90%, 5%, double);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $colorCaja;    
}
.cajaNutrientes h2{
    font-size: 2rem;
    font-weight: bold;    
}
.cajaNutrientes h3{
    font-size: 1rem;
}
//**Map**//

$colorCaja: (
    omega: blue,
    proteina: rgb(230, 81, 185),
    zinc: green,
    prebiotico: red,
    vitamina: grey
);

@each $nutriente, $color in $colorCaja {
    .nutri-#{$nutriente} {
        background-color: $color;
        border-radius: 10px;
        border-style: groove;
    }    
}