.trekkentandil{
    width: 90%;
    height: 200px;
    background-image: url("./../Imagenes/artu1.jpg");     
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    background-color: blue;
    padding-left: 30px;
    padding-top: 40px;
    margin-inline: 5%;
}
.trekkentandil h1{
    text-align: center center;
    line-height: 30px; 
    color: rgb(27, 25, 25);
    font-size: 35px;
}