@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Source+Sans+Pro:wght@200;400;600;700;900&display=swap");
body {
  background-color: rgb(119, 118, 118);
}

.subir {
  font-family: "Noto Serif", serif;
  padding-right: 100px;
  text-align: right;
  font-size: 1rem;
}

.subir a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.menu {
  font-family: "Source Sans Pro", sans-serif;
  list-style: none;
  font-size: 2rem;
  background-color: black;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu li a {
  color: rgb(247, 240, 240);
  text-decoration: none;
}

.menuitem.active a {
  text-decoration: underline;
}

.logo li {
  display: inline;
  margin-right: 20px;
}

.caja, .form {
  width: 90%;
  margin-inline: 5%;
  border-style: double;
  font-family: "Noto Serif", serif;
  background-color: rgb(173, 171, 177);
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  padding-inline: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "imagen titulo" "imagen parrafo";
}

.caja.fotocaja, .fotocaja.form {
  grid-area: imagen;
}

.caja.texto h2, .texto.form h2 {
  grid-area: titulo;
}

.caja.texto p, .texto.form p {
  grid-area: parrafo;
  overflow: auto;
}

.caja p, .form p {
  text-overflow: clip;
  line-height: 30px;
}

.fotocaja {
  width: 100%;
}

.video {
  width: 100%;
}

.texto {
  flex-direction: column;
  padding-left: 40px;
  margin: 20px 20px 20px 20px;
}

.texto h2 {
  padding-bottom: 20px;
}

.caja2 {
  margin-inline: 10%;
  padding-inline: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(173, 171, 177);
  border-radius: 10px;
  border-style: double;
  padding: 25px 25px 25px 25px;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  grid-template-areas: "tit2   tit2" "img2   parr2";
}

.titulo2 {
  grid-area: tit2;
}

.prodfoto {
  grid-area: img2;
}

.texto2__p {
  grid-area: parr2;
}

.prodfoto {
  width: 100px;
  margin-left: 20%;
}

.texto2__p {
  text-overflow: clip;
  font-size: 1rem;
  margin-top: 15px;
  justify-content: center;
}

.titulo2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.caja3 {
  width: 90%;
  margin-inline: 5%;
  border-style: double;
  font-family: "Noto Serif", serif;
  background-color: rgb(173, 171, 177);
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  padding-inline: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "titulo form1" "titulo form2" "titulo form3";
}

.caja3 h2 {
  grid-area: titulo;
}

.tiendaForm1 {
  grid-area: form1;
  padding: 1rem;
}

.tiendaForm2 {
  grid-area: form2;
  padding-left: 1rem;
}

.tiendaForm3 {
  grid-area: form3;
  padding: 1rem;
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "titulo titulo" "img2 img1";
}

.footerTitulo {
  grid-area: titulo;
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.instaico {
  grid-area: img2;
  text-align: end;
  margin: 5px;
}

.faceico {
  grid-area: img1;
  margin: 5px;
}

.instaico a {
  color: black;
}

.wappico a {
  color: black;
}

.trekkentandil {
  width: 90%;
  height: 200px;
  background-image: url("./../Imagenes/artu2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  background-color: blue;
  padding-left: 30px;
  padding-top: 40px;
  margin-inline: 5%;
}

.trekkentandil h1 {
  text-align: center center;
  line-height: 30px;
  color: rgb(27, 25, 25);
  font-size: 35px;
}

.imagenContacto {
  text-align: center;
  width: 100%;
}

.tandilMap a {
  text-decoration: none;
  color: black;
}

.tienda h1 {
  font-size: 2rem;
}

.tiendaProd {
  width: 90%;
  margin-inline: 5%;
  border-style: double;
  font-family: "Noto Serif", serif;
  background-color: rgb(173, 171, 177);
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  padding-inline: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "imgT    imgAC    imgSL" "prodT   prodAC   prodSL" "precioT precioAC precioSL";
}

.tiendaProd.tiendaTrekken img {
  grid-area: imgT;
}

.tiendaProd.tiendaEuropetAC img {
  grid-area: imgAC;
}

.tiendaProd.tiendaEuropetSL img {
  grid-area: imgSL;
}

.tiendaProd.tiendaTrekken h3 {
  grid-area: prodT;
}

.tiendaProd.tiendaEuropetAC h3 {
  grid-area: prodAC;
}

.tiendaProd.tiendaEuropetSL h3 {
  grid-area: prodSL;
}

.tiendaProd.tiendaTrekken p {
  grid-area: precioT;
}

.tiendaProd.tiendaEuropetAC p {
  grid-area: precioAC;
}

.tiendaProd.tiendaEuropetSL p {
  grid-area: precioSL;
}

.tituloCampeones {
  font-family: "Noto Serif", serif;
  padding-inline: 20px;
  font-size: 2rem;
}

.subtCampeones {
  font-family: "Noto Serif", serif;
  padding-inline: 20px;
  font-size: 1.5rem;
}

.cajaNutrientes {
  width: 90%;
  margin-inline: 5%;
  border-style: double;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(173, 171, 177);
}

.cajaNutrientes h2 {
  font-size: 2rem;
  font-weight: bold;
}

.cajaNutrientes h3 {
  font-size: 1rem;
}

.nutri-omega {
  background-color: blue;
  border-radius: 10px;
  border-style: groove;
}

.nutri-proteina {
  background-color: rgb(230, 81, 185);
  border-radius: 10px;
  border-style: groove;
}

.nutri-zinc {
  background-color: green;
  border-radius: 10px;
  border-style: groove;
}

.nutri-prebiotico {
  background-color: red;
  border-radius: 10px;
  border-style: groove;
}

.nutri-vitamina {
  background-color: grey;
  border-radius: 10px;
  border-style: groove;
}

@media screen and (max-width: 768px) {
  .caja, .form {
    display: flex;
    flex-direction: column;
  }
  .caja2 {
    display: flex;
    flex-direction: column;
  }
  .caja3 {
    display: flex;
    flex-direction: column;
  }
  .tiendaProd {
    display: flex;
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }
  .logo li {
    margin-right: 0px;
  }
  .menu {
    font-size: 1rem;
  }
}
/* ANIMACIONES */
.caja2 {
  transition: 1s;
  transition-timing-function: ease;
}

.caja2:hover {
  scale: 1.15;
  color: black;
}

.tienda_foto {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

/*  FOR*/
.tienda_foto1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.tienda_foto2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.tienda_foto3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}/*# sourceMappingURL=estilo.css.map */